
<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h3 class="py-5">Login to your account</h3>
    <div class="py-5 px-5 border border-info rounded">
        <div class="form-group">
          <label for="exampleInputEmail1">username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            aria-describedby="emailHelp"
            placeholder="admin@example.com"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="text"
            class="form-control"
            id="password"
            placeholder="********"
            name="password"
          />
        </div>
        <button  onclick="login()"> login</button>
        {{!-- <a href="/admin" class="btn btn-primary w-100 mt-3 pt-2">Login</a> --}}
    </div>
  </div>

</div>
 <script>
function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  let expires = "expires=" + d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}


 function login() {
  $.ajax({
  url:'http://localhost:8000/carts/checkUser',
  type: "POST",
  data : {
  username : $('#username').val(),
  password : $('#password').val()
  }
  })
  .then((data)=> {
     console.log(data)
     setCookie('token' , data.token , 1)
  })
 }
   
 </script>
