
    <div class="header_section" style="background-color: #080808; padding: 16px 0px; margin-bottom: 10px;">
		<div class="container">
			<div class="row justify-between" style="justify-content: space-between;">
				<div class="col-sm-3">
					<div class="logo"><a href="#"><img src="../images/logo.png"></a></div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: end;">
                        <div class="navbar-nav">
                           <a class="nav-item nav-link" href="/">Home</a>
                           <a class="nav-item nav-link" href="#collection">Collection</a>
                           <a class="nav-item nav-link" href="racing boots.html">Racing Boots</a>
                           <a class="nav-item nav-link" href="#contact">Contact</a>
                           <a class="nav-item nav-link last" href="#"><img src="../images/search_icon.png"></a>
                           <a class="nav-item nav-link last" href="contact.html"><img src="../images/shop_icon.png"></a>
                        </div>
                    </div>
                    </nav>
				</div>
			</div>
		</div>
	</div>
	
    <div class="container">

      <form action="/carts/store" method="POST" class="form" id="form-1">
        <h3 class="heading">Đăng kí tài khoản</h3>
        <p class="desc">❤️</p>

        <div class="spacer"></div>
 <div class="form-group">
          <label for="username" class="form-label">Tên người dùng</label>
          <input
            id="username"
            name="name"
            type="text"
            placeholder="VD: player"
            class="form-control"
            required
          />
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="username" class="form-label">Tài khoản</label>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="VD: player"
            class="form-control"
            required
          />
          <span class="form-message"></span>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            name="email"
            type="text"
            placeholder="VD: email@domain.com"
            class="form-control"
            required
          />
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Mật khẩu</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Nhập mật khẩu"
            class="form-control"
            required
          />
          <span class="form-message"></span>
        </div>
               <button class="form-submit btn btn-primary">Đăng ký</button>

         <a style="display: block ; float: right; clear: both " href="/carts/login">Login? now</a>
      </form>
    </div>
  <div class="section_footer mt-5" style="background-color: #080808; padding: 70px 0px;">
    	<div class="container">
    		<div class="mail_section">
    			<div class="row">
    				<div class="col-sm-6 col-lg-2">
    					<div><a href="#"><img src="../images/footer-logo.png"></a></div>
    				</div>
    				<div class="col-sm-6 col-lg-2">
    					<div class="footer-logo"><img src="../images/phone-icon.png"><span style="color:#ffffff80" class="map_text">(71) 1234567890</span></div>
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="footer-logo"><img src="../images/email-icon.png"><span style="color:#ffffff80" class="map_text">Demo@gmail.com</span></div>
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="social_icon">
    						<ul style="color:#ffffff80 ; list-style: none;">
    							<li><a href="#"><img src="../images/fb-icon.png"></a></li>
    							<li><a href="#"><img src="../images/twitter-icon.png"></a></li>
    							<li><a href="#"><img src="../images/in-icon.png"></a></li>
    							<li><a href="#"><img src="../images/google-icon.png"></a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-sm-2"></div>
    			</div>
    	    </div> 
    	    <div class="footer_section_2" style="background-color: #080808;">
		        <div class="row">
    		        <div class="col-sm-4 col-lg-2">
    		        	<p class="dummy_text" style="color:#ffffff80"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
    		        </div>
    		        <div class="col-sm-4 col-lg-2">
    		        	<h2 class="shop_text" style="color:#ffffff80">Address </h2>
    		        	<div class="image-icon"><img src="../images/map-icon.png"><span style="color:#ffffff80" class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
    		        </div>
    		        <div class="col-sm-4 col-md-6 col-lg-3">
    				    <h2 class="shop_text" style="color:#ffffff80">Our Company </h2>
    				    <div class="delivery_text">
    				    	<ul style="color:#ffffff80">
    				    		<li>Delivery</li>
    				    		<li>Legal Notice</li>
    				    		<li>About us</li>
    				    		<li>Secure payment</li>
    				    		<li>Contact us</li>
    				    	</ul>
    				    </div>
    		        </div>
    			<div class="col-sm-6 col-lg-3">
    				<h2 class="adderess_text" style="color:#ffffff80">Products</h2>
    				<div class="delivery_text" style="color:#ffffff80">
    				    	<ul style="color:#ffffff80; list-style: none;">
    				    		<li>Prices drop</li>
    				    		<li>New products</li>
    				    		<li>Best sales</li>
    				    		<li>Contact us</li>
    				    		<li>Sitemap</li>
    				    	</ul>
    				    </div>
    			</div>
    			<div class="col-sm-6 col-lg-2">
    				<h2 class="adderess_text" style="color:#ffffff80">Newsletter</h2>
    				<div class="form-group">
                        <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                    </div>
                    <button class="subscribr_bt" style="color:#ffffff80">Subscribe</button>
    			</div>
    			</div>
    	        </div> 
	        </div>
    	</div>
    </div>
	<!-- section footer end -->
	<div style="color:#ffffff80; background-color: #080808; text-align: center; padding-bottom: 6px;" class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>
