<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h3 class="py-5">Register to your account</h3>
    <div class="py-5 px-5 border border-info rounded">
      <form action="/carts/store" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Tên người dùng </label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="name"
            placeholder="Nhập tên người dùng..."
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tài khoản</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder ="username..."
            name="username"
          />
        </div>
<div class="form-group">
          <label for="exampleInputPassword1">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="********"

            name="password"
          />
        </div>
<div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputPassword1"
            name="email"
placeholder="demo@gmail.com"

          />
        </div>
      <button type="submit" class="btn btn-primary"> Đăng kí</button>
      </form>
    </div>
  </div>

</div>
